<h1>Welcome!</h1>
<div class="play-container">
    <!--event binding types e.g hover, mouseout, etc-->
    <p>You've clicked <span (click)="countClick()">this</span>{{ clickCounter }} times.</p>
</div>

<div class="play-container">
    <!--Two way data binding-->
    <p>
        <!--receive and send info to the component logic, 'home.component.ts' file-->
        <input type="text" [(ngModel)]="name">
        <br>
        <strong>You said: </strong> {{ name }} <!--interpolation - embedding expressions into marked up text-->
    </p>
</div>

<!--ng-template allows for if and else based on templates-->
<div class="play-container" [ngClass]="setClasses()">
    <!--if the condition is true, this template will show else the bottom template will show-->
   <ng-template [ngIf]="clickCounter > 4" [ngIfElse]="none">
    <p>The click counter <strong> IS GREATER </strong> than 4.</p>
   </ng-template>

   <ng-template #none>
    <p>The click counter is <strong> not greater</strong> than 4.</p>
   </ng-template>
</div>

<!--style binding - like inline css styles applied to html elements, its done through property binding which is done through [] brackets-->
<!--
    single style binding example:
    <div class="play-container" [style.background-color]="clickCounter > 4 ? 'yellow' : 'lightgray'">
    <ng-template [ngIf]="clickCounter > 4" [ngIfElse]="none">
        <p>The click counter <strong> IS GREATER </strong> than 4.</p>
    </ng-template>

    <ng-template #none>
        <p>The click counter is <strong> not greater</strong> than 4.</p>
    </ng-template>
    </div>


    multiple style binding example:
    <div class="play-container" [ngStyle]="{
    'background-color': clickCounter > 4 ? 'yellow' : 'lightgray',
    'border': clickCounter > 4 ? '4px solid black' : 'none'
    }   ">
   <ng-template [ngIf]="clickCounter > 4" [ngIfElse]="none">
    <p>The click counter <strong> IS GREATER </strong> than 4.</p>
   </ng-template>

   <ng-template #none>
    <p>The click counter is <strong> not greater</strong> than 4.</p>
   </ng-template>
    </div>

    * class binding is similar to style binding
    * {{ name }} - interpolation refers to embedding expressions into marked text, by default
        interpolation uses as its delimiter the double curly braces.
    * services - special components that are reusable throughout your app.
        - lets create a reusable service communicating with an API to fetch data and display it on our page.
        - generate the service/component in the angular cli
        - 
-->